<ion-view view-title="Brain Quiz">
    <ion-content>
        <div style="position:absolute;z-index:999;visibility:{{visibility}}" align="center">
            <img src="http://i.imgur.com/Ftmf6L4.gif" width="100%"/>
        </div>
        <div align="center">
            <img src="http://i.imgur.com/jQQvYOi.png" />
        </div>
        <div class="container animated bounceInUp">
            <ion-list>
                <ion-item href="#/app/brainquiz/{{questions}}" style="text-align:center">
                    <b>START</b>
                </ion-item>
            </ion-list>
        </div> 
    </ion-content>
</ion-view>