/*@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf');
}

.roboto-black{
    font-family:Roboto-Black;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

.roboto-bold{
    font-family:Roboto-Bold;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../fonts/Roboto-BlackItalic.ttf');
}

.roboto-blackitalic{
    font-family:Roboto-BlackItalic
}

@font-face {
    font-family: 'Roboto-BoldCondensed';
    src: url('../fonts/Roboto-BoldCondensed.ttf');
}

.roboto-boldcondensed{
    font-family:Roboto-BoldCondensed;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../fonts/Roboto-BoldItalic.ttf');
}

.roboto-bolditalic{
    font-family:Roboto-BoldItalic;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/Roboto-Condensed.ttf');
}

.roboto-condensed{
    font-family:Roboto-Condensed
}

@font-face {
    font-family: 'Roboto-CondensedItalic';
    src: url('../fonts/Roboto-CondensedItalic.ttf');
}

.roboto-condenseditalic{
    font-family:Roboto-CondensedItalic;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.ttf');
}

.roboto-italic{
    font-family: Roboto-Italic;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

.roboto-light{
    font-family: Roboto-Light;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../fonts/Roboto-LightItalic.ttf');
}

.roboto-lightitalic{
    font-family:Roboto-LightItalic;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

.roboto-medium{
    font-family: Roboto-Medium;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../fonts/Roboto-MediumItalic.ttf');
}

.roboto-mediumitalic{
    font-family: Roboto-MediumItalic;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

.roboto-regular{
    font-family: Roboto-Regular;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

.roboto-thin{
    font-family:Roboto-Thin;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('../fonts/Roboto-ThinItalic.ttf');
}

.roboto-thinitalic{
    font-family:Roboto-ThinItalic;
} */

.container{
    display:block;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
    height: 100px;
    position: relative;
}

.container.ng-leave{
    display:none;
}
